html,body{padding:0;margin:0;min-height:100%;font-family:sans-serif;background-color:#eee;color:#444}h1,h2,h3,h4,h5,h6{margin:0}.d-flex{display:flex}.align-center{align-items:center}.ml-1{margin-left:8px}
