
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}

html {
  @include mat.theme((
    color: (
      primary: mat.$cyan-palette,
      tertiary: mat.$orange-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  --mat-sys-surface: light-dark(#eee, #141414);
  --mat-sys-on-surface: light-dark(#444, #e0e3e2);
  --mat-icon-button-state-layer-size: 60px;
  --mat-icon-button-touch-target-size: 60px;
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}

.ui-dark-theme {
  color-scheme: dark;
}

.ui-light-theme {
  color-scheme: light;
}

.ui-dark-theme img {
  filter: contrast(0.84) invert(1);
}

.ui-light-theme img {
  filter: contrast(0.875);
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.d-flex, .d-flex-col {
  display: flex;
}

.d-flex-col {
    flex-direction: column;
}

.flex-space {
  flex: 1;
}

.align-start {
  align-items: start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: baseline;
}

.ml-1 {
  margin-left: 8px;
}
