
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@import 'gold-theme.scss';
@import 'blue-theme.scss';
//@import 'app_theme-colors.scss';

  
html { 
  @include mat.theme((  
    color: (
      /*primary: $primary-palette,
      tertiary: $tertiary-palette,*/
      primary: $gold-primary-palette,
      tertiary: $gold-tertiary-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}
  
html .ui-1912-theme { 
  @include mat.theme((  
    color: (
      primary: $blue-primary-palette,
      tertiary: $blue-tertiary-palette,
    )
  ));
}

html, body {
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: sans-serif;
    color-scheme: light;

    --mat-sys-surface: light-dark(#eee, #141414) !important;
    --mat-sys-on-surface: light-dark(#444, #e0e3e2) !important;
    --mat-icon-button-state-layer-size: 60px !important;
    --mat-icon-button-touch-target-size: 60px !important;
}

[matIconButton].ui-larger {
    --mat-icon-button-icon-size: 45px;

    mat-icon {
        font-size: var(--mat-icon-button-icon-size);
        width: var(--mat-icon-button-icon-size);
        height: var(--mat-icon-button-icon-size);
    }
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}

.ui-dark-theme {
  color-scheme: dark;
}

.ui-dark-theme img {
  filter: contrast(0.84) invert(1);
}

img {
  filter: contrast(0.875);
}

mat-form-field.no-hint .mat-mdc-form-field-subscript-wrapper {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.d-flex, .d-flex-col {
  display: flex;
}

.d-flex-col {
    flex-direction: column;
}

.flex-space {
  flex: 1;
}

.align-start {
  align-items: start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: baseline;
}

.m-auto {
    margin: auto;
}
.ml-1 {
  margin-left: 8px;
}

