<main appZoom>
    <ng-container *ngIf="searching">
        <ng-container *ngFor="let result of searchResults; let i=index">
            <mat-divider *ngIf="i>0"></mat-divider>
            <div class="ui-search-result" (click)="toggleSearch(result)">
                <div>
                    <div class="d-flex align-end">
                        <h3>{{result.psalter.mainIdentifier}}</h3>
                        <span *ngIf="result.psalter.subIdentifier">{{result.psalter.subIdentifier}}</span>
                        <span *ngIf="result.psalter.secondTune" class="ml-1">(2nd)</span>
                    </div>
                    <span *ngIf="result.showPsalm">Psalm {{result.psalter.psalm}}</span>
                    <span *ngIf="result.otherPsalterIdentifier">[{{result.otherPsalterIdentifier}}]</span>
                </div>
                <div class="m-auto">
                    <table *ngIf="result.verseResults">
                        <tbody>
                            <tr *ngFor="let verseResult of result.verseResults">
                                <td><h4>{{verseResult.verseIdentifier}}</h4></td>
                                <td class="verse" [highlightRange]="verseResult.highlightRanges">{{verseResult.text}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="!result.verseResults">{{result.preview}}</div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="searchMaxResultsMessage">
            <mat-divider></mat-divider>
            <div class="ui-max-results">{{searchMaxResultsMessage}}</div>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="!searching && psalters">
        <psalter-page [psalters]="psalters" [initial]="goToPsalter"></psalter-page>
    </ng-container>
</main>
<button matFab *ngIf="installEvent" class="ui-install" (click)="installEvent.prompt()"><mat-icon>download</mat-icon></button>
<nav>
    <ng-container *ngIf="searching">
        <mat-form-field class="ui-search-field no-hint">
            <mat-label>Search</mat-label>
            <button matIconButton matPrefix (click)="toggleSearch()"><mat-icon>close</mat-icon></button>
            <input #searchInput matInput autofocus [attr.inputmode]="searchInputModeControl.value" type="text" [formControl]="searchInputControl" (keydown.enter)="searchResults.length && toggleSearch(searchResults[0])" />
            <button matIconButton matSuffix (click)="searchInputModeControl.setValue(searchInputModeControl.value == 'numeric' ? undefined : 'numeric')"><mat-icon>{{searchInputModeControl.value == 'numeric' ? 'abc' : '123'
                }}</mat-icon></button>
                </mat-form-field>
</ng-container>
    <ng-container *ngIf="!searching">
        <button matIconButton (click)="toggleSearch()"><mat-icon>search</mat-icon></button>
        <button matIconButton (click)="togglePsalter()"><mat-icon>swap_horiz</mat-icon></button>
        <button matIconButton (click)="psalterPage?.goToRandom()"><mat-icon>casino</mat-icon></button>

        <span class="flex-space"></span>

        <button matFab (click)="toggleAudio()" [disabled]="!service.currentPsalter?.audioFile"><mat-icon>{{isPlaying ? 'pause' : 'play_arrow'}}</mat-icon></button>

        <span class="flex-space"></span>

        <div class="ui-end-buttons">
            <button matIconButton (click)="storage.showScore = !storage.showScore"><mat-icon>{{storage.showScore ? 'music_note' : 'music_off' }}</mat-icon></button>
            <button matIconButton (click)="toggleTheme()"><mat-icon>{{ storage.darkTheme ? 'dark_mode' : 'light_mode' }}</mat-icon></button>
        </div>
    </ng-container>
</nav>
