:host {
    height: 100dvh;
    display: block;
    --app-navbar-height: 68px;
}

psalter-page {
    display: block;
    height: 100%;
}

main {
    height: calc(100dvh - var(--app-navbar-height));
    overflow: auto;
}

.ui-install {
    bottom: 80px;
    right: 24px;
    position: fixed;
    z-index: 999;
}

nav {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: var(--app-navbar-height);
  background-color: var(--mat-sys-surface-container-low);

  .ui-end-buttons {
    min-width: calc(var(--mat-icon-button-state-layer-size) * 3);
    text-align: end;
  }
}

.ui-searching {
  color: var(--mat-sys-primary);
  border: 1px solid var(--mat-sys-outline);
}

.ui-search-field {
  flex: 1;
}

.ui-search-result {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding: 8px 24px;
    min-height: 40px;

    // copied from mat-list-item for hover styles
    &::before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        content: "";
        opacity: 0;
        pointer-events: none;
        border-radius: inherit;
    }

    &:hover::before {
        background-color: var(--mat-sys-on-surface);
        opacity: var(--mat-sys-hover-state-layer-opacity);
    }
}

.ui-max-results {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
}

td {
    white-space: pre;
    vertical-align: top;
    text-align: center;
}

::highlight(ui-search-hit) {
    color: var(--mat-sys-primary);
}
