:host {
  --ui-max-width: 700px;
}

swiper-container {
  height: 100%;
}

swiper-slide {
  display: flex;
  justify-content: center;
  min-height: 100%;
  overflow: auto;
}

.ui-slide-container {
  width: var(--ui-max-width);
  max-width: 100%;
  padding: 8px;
  text-align: center;
}

.ui-header {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.ui-psalm-link {
  --mat-button-text-container-height: 2em;
  padding-left: 0;
}

img {
  width: var(--ui-max-width);
  max-width: 100%;
}

table.verses {
  margin: auto;
  /*font-size: 1.2em;*/
}

.verse {
  white-space: pre;
  text-align: center;
  padding-bottom: 1em;
}

.ui-verse-descriptor {
  vertical-align: top;
  font-weight: bold;
}
