swiper-container {
  height: 100%;
}

swiper-slide {
  display: flex;
  justify-content: center;
  min-height: 100%;
  overflow: auto;
}

.ui-slide-container {
  max-width: 100%;
  padding: 4px;
  text-align: center;
}

.ui-header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  font-size: initial;
}

.ui-psalm-link {
  --mat-button-text-container-height: 2em;
  padding-left: 0;
}

img {
  width: 100%;
}

table.verses {
  margin: auto;
}

.verse {
  white-space: pre-line;
  text-align: center;
  padding-bottom: 1em;
}

.ui-verse-descriptor {
  vertical-align: top;
  font-weight: bold;
}
