:host, swiper-container {
    display: block;
    height: 100%;
}

swiper-slide {
    display: flex;
    justify-content: center;
}
.ui-slide-container {
    max-width: 800px;
}
img {
    max-width: 100%;
}
