:host {
  height: calc(100% - var(--app-navbar-height));
  --ui-max-width: 700px;
}

swiper-container {
  height: 100%;
}

swiper-slide {
  display: flex;
  justify-content: center;
  min-height: 100%;
  overflow: auto;
}

.ui-slide-container {
  width: var(--ui-max-width);
  max-width: 100%;
  padding: 8px;
}

.ui-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img {
  width: var(--ui-max-width);
  max-width: 100%;
  filter: contrast(0.875);
}

table.verses {
  margin: auto;
  /*font-size: 1.2em;*/
}

.verse {
  white-space: pre;
  text-align: center;
  padding-bottom: 1em;
}

.ui-verse-descriptor {
  vertical-align: top;
  font-weight: bold;
}
