<swiper-container #swiper init="false"
                  keyboard-enabled
                  virtual
                  speed="200"
                  [navigation]="enableNavArrows"
                  (swiperslidechange)="slideChange($event)">
    @for (psalter of psalters; track $index) {
    <swiper-slide>
        <div class="ui-slide-container" [style.width.px]="imgWidth">
            <div class="ui-header-wrapper">
                <div class="ui-header">
                    <div class="ui-identifier">
                        <h1>{{psalter.mainIdentifier}}</h1>
                        <h2 *ngIf="psalter.subIdentifier">{{psalter.subIdentifier}}</h2>
                        <span *ngIf="psalter.secondTune" class="ml-1">(2nd tune)</span>
                    </div>
                    <h2 class="ml-1">{{psalter.title}}</h2>
                </div>
                <a *ngIf="psalter.psalm" matButton target="_blank"
                   href="https://www.biblegateway.com/passage/?search={{getPsalmSearchText(psalter)}}&version=KJV"
                   class="ui-psalm-link">{{getPsalmDisplayText(psalter)}}</a>
            </div>
            @if (storage.showScore && psalter.scoreFiles?.length) {
                @for(scoreSrc of psalter.scoreFiles; track $index) {
                    <psalter-separator *ngIf="$index > 0"></psalter-separator>
                    <img [src]="scoreSrc" loading="lazy" />
                }
            }
            <table class="verses">
                <tbody>
                    @for (verse of getVerses(psalter); track $index; let i = $index) {
                        <tr>
                            <td class="ui-verse-descriptor">{{numHiddenVerses + i + 1}}.</td>
                            <td class="verse">{{verse}}</td>
                        </tr>
                        @if (psalter.chorus) {
                            <tr>
                                <td class="ui-verse-descriptor"></td>
                                <td class="verse">
                                    <div class="ui-verse-descriptor">(chorus)</div>
                                    {{psalter.chorus}}
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div *ngIf="psalter.otherPsalterIdentifiers">
                <button *ngFor="let otherIdentifier of psalter.otherPsalterIdentifiers" matButton (click)="app.togglePsalter(otherIdentifier)">[{{otherIdentifier}}]</button>
            </div>
        </div>
    </swiper-slide>
    }
</swiper-container>
