:host {
    height: 100%;
    display: block;
    --app-navbar-height: 68px;
}

psalter-page {
    display: block;
    margin-bottom: var(--app-navbar-height);
}

nav {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: var(--app-navbar-height);
  background-color: var(--mat-sys-surface-container-low);
}

pre {
  position: fixed;
  bottom: var(--app-navbar-height);
}
