@if (searching) {
    <mat-action-list>
    @for(psalter of psalters; track $index) {
        <button mat-list-item (click)="searching = false; goToPsalter=psalter;">
            <div>{{psalter.number}}{{psalter.letter}}</div>
            <div>{{psalter.verses[0].split('\n')[0]}}</div>
        </button>
    }
    </mat-action-list>
}
@else if (psalters) {
    <psalter-page [psalters]="psalters" [initial]="goToPsalter"></psalter-page>
}


<nav>
    <button matIconButton (click)="searching = !searching"><mat-icon>{{searching ? 'close' : 'search'}}</mat-icon></button>
    @if(searching) {
    <mat-form-field class="ui-search-field no-hint">
        @if (searchType == 'number') {
        <mat-label>Search by number (or psalm)</mat-label>
        }
        @else {
        <mat-label>Search by text</mat-label>
        }
        <input matInput type="{{searchType}}" />
    </mat-form-field>

    <mat-button-toggle-group [(ngModel)]="searchType" title="{{searchType}}">
        <mat-button-toggle value="number">Number</mat-button-toggle>
        <mat-button-toggle value="text">Text</mat-button-toggle>
    </mat-button-toggle-group>
    }
    @else {
    <button matIconButton (click)="togglePsalter()"><mat-icon>swap_horiz</mat-icon></button>
    <button matIconButton (click)="psalterPage?.goToRandom()"><mat-icon>casino</mat-icon></button>
    <!-- <div style="font-size: 12px;">
        <pre>textScale: {{storage.textScale}}</pre>
        <pre>scaleFactor: {{scaleFactor}}</pre>
    </div> -->

    <span class="flex-space"></span>

    <button matFab (click)="playPause()" [disabled]="!service.currentPsalter?.audioFile"><mat-icon>{{isPlaying ? 'pause' : 'play_arrow'}}</mat-icon></button>

    <span class="flex-space"></span>

    <div class="ui-end-buttons">
        <button matIconButton (click)="storage.showScore = !storage.showScore"><mat-icon>{{storage.showScore ? 'music_note' : 'music_off' }}</mat-icon></button>
        <button matIconButton (click)="toggleTheme()"><mat-icon>{{ storage.darkTheme ? 'dark_mode' : 'light_mode' }}</mat-icon></button>
    </div>
    }
</nav>
