
<psalter-page #psalterPage [psalters]="psalters"></psalter-page>


<nav>
    <button matIconButton (click)="togglePsalter()"><mat-icon>swap_horiz</mat-icon></button>
    <button matIconButton (click)="psalterPage.goToRandom()"><mat-icon>casino</mat-icon></button>
    <!-- <div style="font-size: 12px;">
        <pre>textScale: {{storage.textScale}}</pre>
        <pre>scaleFactor: {{scaleFactor}}</pre>
    </div> -->

    <span class="flex-space"></span>

    <button matFab (click)="playPause()" [disabled]="!service.currentPsalter?.audioFile"><mat-icon>{{isPlaying ? 'pause' : 'play_arrow'}}</mat-icon></button>

    <span class="flex-space"></span>

    <button matIconButton (click)="storage.showScore = !storage.showScore"><mat-icon>{{storage.showScore ? 'music_note' : 'music_off' }}</mat-icon></button>
    <button matIconButton (click)="toggleTheme()"><mat-icon>{{ storage.darkTheme ? 'dark_mode' : 'light_mode' }}</mat-icon></button>
</nav>
